**/*.csr
**/*.key
**/*.launch
**/*.log
**/*.sublime-workspace
**/.c9/
**/.classpath
**/.dockerignore
**/.DS_Store
**/.env*
**/.eslintrc.js
**/.git
**/.github
**/.gitignore
**/.gitmodules
**/.idea
**/.npmrc
**/.nx
**/.nyc_output
**/.prettierrc
**/.project
**/.settings
**/.vscode
**/*.csr
**/.idea
**/.nyc_output
**/*.key
**/*.launch
**/*.log
**/*.puml
**/*.spec.*
**/*.sublime-workspace
**/build
**/coverage
**/dist
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/helm
**/kong.yaml
**/lerna-debug.log*
**/log
**/logs
**/nest-cli.json
**/node_modules
**/npm-debug.log*
**/out-tsc
**/pnpm-debug.log*
**/README*
**/temp
**/test
**/tmp
**/yarn-debug.log*
**/yarn-error.log*
auxiliary
backends/*/**
frontends/*/**
infrastructure
scripts
