auxiliary
backends/*/**
**/build
**/.c9/
**/.classpath
**/coverage
**/*.csr
**/*.csr
**/dist
**/doc
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/.dockerignore
**/.DS_Store
**/.env*
**/.eslintrc.js
frontends/*/**
**/.git
**/.github
**/.gitignore
**/.gitmodules
**/helm
**/.idea
**/.idea
infrastructure
**/*.key
**/*.key
**/kong.yaml
**/*.launch
**/*.launch
**/lerna-debug.log*
**/*.log
**/*.log
**/log
**/logs
**/node_modules
**/npm-debug.log*
**/.npmrc
**/.nx
**/.nyc_output
**/.nyc_output
**/out-tsc
**/pnpm-debug.log*
**/.prettierrc
**/.project
**/*.puml
**/README*
scripts
**/.settings
**/*.spec.*
**/*.sublime-workspace
**/*.sublime-workspace
**/temp
**/test
**/tmp
**/.vscode
**/yarn-debug.log*
**/yarn-error.log*
