**/build
**/.c9/
**/.classpath
**/coverage
**/*.csr
**/*.csr
**/dist
**/.DS_Store
**/.env*
!**/.env.sample
**/.eslintrc.js
**/.idea
**/.idea
**/*.key
**/*.key
**/kong.yaml
**/*.launch
**/*.launch
**/lerna-debug.log*
**/*.log
**/*.log
**/log
**/logs
**/node_modules
**/npm-debug.log*
**/.nx
**/.nyc_output
**/.nyc_output
**/out-tsc
**/pnpm-debug.log*
**/.project
**/.settings
**/*.sublime-workspace
**/*.sublime-workspace
**/temp
**/test
**/tmp
**/.vscode
!.vscode/argv.json
!.vscode/extensions
!.vscode/extensions.json
!.vscode/keybindings.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
**/yarn-debug.log*
**/yarn-error.log*
